{% extends 'main.html' %}

{% block content %}

<main class="profile-page layout layout--2">
      <div class="container">
        <!-- Room Start -->
        <div class="room">
          <div class="room__top">
            <div class="room__topLeft">
              <a href="{% url 'eat_page' %}">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                  <title>arrow-left</title>
                  <path
                    d="M13.723 2.286l-13.723 13.714 13.719 13.714 1.616-1.611-10.96-10.96h27.625v-2.286h-27.625l10.965-10.965-1.616-1.607z"
                  ></path>
                </svg>
              </a>
              <h3></h3>
            </div>
          </div>

          <div class="room__box scroll">
            <div class="room__header scroll">
              <div class="room__info">
                <h3>{{recipe.name}}</h3>
              </div>

                {% if recipe.time != None %}
              <span class="room__topics">preparation time: {{recipe.time}} minutes</span>
                {% endif %}

                {% if recipe.calories != None %}
              <span class="room__topics">{{recipe.calories}} calories</span>
                {% endif %}

              {% if recipe.calories != None %}
              <span class="room__topics">{{recipe.portions_count}} portions</span>
                {% endif %}

              <div class="room__details">
                <h3>Quantity of ingredients: </h3>

                {{recipe.ingredients_count}}
              </div>

            </div>


            <div class="room__conversation">
              <div class="threads scroll">
                <h3>Preparation: </h3>
                {{recipe.preparation}}
              </div>
            </div>
          </div>
        </div>
        <!-- Room End -->

        <!--   Start -->
        <div class="participants">
          <h3 class="participants__top">Ingredients: </h3>
          <div class="participants__list scroll">
            {% for product in recipe.products.all %}
            <a class="participant">
              <p>
                {{product.name}}
              </p>
            </a>
            {% endfor %}
          </div>
        </div>
        <!--  End -->
      </div>
    </main>
<script src="script.js"></script>

{% endblock %}
